PORT = 3000

# MONGODB_URI = mongodb:localhost:27017/mongodb
MONGODB_URI = mongodb+srv://usaid:Usaid@cluster0.j4jel.mongodb.net

ACCESS_TOKEN_SECRET = "vzxcvzxcv"
ACCESS_TOKEN_EXPIRY = 7d


REFRESH_TOKEN_SECRET = "vcxvxzvz"
REFRESH_TOKEN_EXPIRY = 7d


BASE_URL = http://localhost:3000

MAILTRAP_HOST = sandbox.smtp.mailtrap.io
MAILTRAP_PORT = 2525
MAILTRAP_USERNAME = 6f9864f45ab8fc
MAILTRAP_PASSWORD = 2b1a7f19ab14f5


CORS_ORIGIN = http://localhost:5173
NODE_ENV = development

IMAGEKIT_PUBLIC_KEY=your_public_key
IMAGEKIT_PRIVATE_KEY=your_private_key
IMAGEKIT_URL_ENDPOINT=your_url_endpoint
